<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../Resources/logo.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Testimonials</title>
  </head>
  <body>
    <div class="testi">
      <h2>Luis Baxter</h2>
      <p>
        "I've been a member of Gymmunity for the past year, and it's been an
        incredible journey! The variety of workout options, from high-intensity
        classes to personalized training sessions, has kept me motivated and
        excited to come back every day. The trainers are knowledgeable and
        supportive, always pushing me to reach my fitness goals. Not to mention
        the friendly and welcoming atmosphere among members. Gymmunity truly
        lives up to its name, creating a real sense of community. I've seen
        significant improvements in my strength and endurance since joining, and
        I couldn't be happier with my decision to be a part of this gym!"
      </p>

      <div class="thanks"><a href="../index.html">Home</a></div>
    </div>
  </body>
</html>
