<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../Resources/logo.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Contact Us</title>
  </head>
  <body>
    <div class="contacts">
      <label>Email: </label>
      <div>Gymmunity@gym.co.za</div>
      <br />
      <label>Tel Number: </label>
      <div>+021-123-4658</div>
      <br />
      <label>Cell Number:</label>
      <div>082-561-9347</div>
      <br />
      <label>Physical Address: </label>
      <div>
        4113 Driver Venue <br />
        Riverwood Drive <br />
        Cape Town <br />
        South Africa
      </div>
    </div>
    <div class="thanks" style="display: flex; justify-content: center">
      thank you for visiting our site. come back again.
      <a href="../index.html"> Home</a>
    </div>
  </body>
</html>
