<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../Resources/logo.png" type="image/png" />
    <link rel="stylesheet" href="../style.css" />
    <title>Join Now</title>
  </head>
  <body>
    <h2 style="text-align: center; padding-bottom: 20px">
      Sign Up for Our Membership Today!
    </h2>
    <div class="container">
      <form action="">
        <div class="first column">
          <label>Full Name:</label>
          <input type="text" placeholder="John Doe" required />
          <label>Contact Number:</label>
          <input type="text" placeholder="+27-67-290-0987" required />
          <label>Email:</label>
          <input type="email" placeholder="example@email.com" required />
        </div>
        <div class="second column">
          <label>Enquiry Type:</label>
          <select id="Select">
            <option value="--">--</option>
            <option value="Account Query">Account Query</option>
            <option value="Join Now">Join Now</option>
            <option value="Complimentary Workout">Complimentary Workout</option>
          </select>
          <label>Message <i>(optional)</i>:</label>
          <textarea cols="40" rows="15"></textarea>
          <button class="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="thanks">
      thank you for visiting our site. come back again.
      <a href="../index.html">Home</a>
    </div>
  </body>
</html>
