<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../Resources/logo.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Testimonials</title>
  </head>
  <body>
    <div class="testi">
      <h2>Sydney Joyce</h2>
      <p>
        "I can't say enough good things about Gymmunity! As a busy working mom,
        finding time for fitness was always a challenge. But this gym has been a
        game-changer for me. The flexible class schedules and on-site childcare
        services have made it so convenient for me to fit in workouts without
        worrying about my kids. The trainers are amazing, taking the time to
        understand my goals and tailoring workouts to my fitness level. The
        supportive environment at Gymmunity has been so encouraging, and I've
        seen a noticeable improvement in my overall fitness and energy levels.
        Thank you, Gymmunity, for helping me prioritize my health and
        well-being!"
      </p>
      <div class="thanks"><a href="../index.html">Home</a></div>
    </div>
  </body>
</html>
