<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../Resources/logo.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Testimonials</title>
  </head>
  <body>
    <div class="testi">
      <h2>Kassandra Rich</h2>
      <p>
        I'm a newbie to the fitness world, and I was initially intimidated by
        the idea of joining a gym. However, Gymmunity made the transition so
        smooth and enjoyable for me. The staff and trainers were incredibly
        friendly and supportive, making me feel comfortable right from the
        start. They took the time to teach me proper techniques and offered
        valuable guidance throughout my fitness journey. The gym itself has a
        warm and inviting ambiance, making it a pleasant place to work out. I've
        seen improvements in my flexibility and strength, and I'm so grateful to
        Gymmunity for helping me gain confidence in my fitness abilities. If
        you're looking for a gym that truly cares about its members, Gymmunity
        is the place to be!"
      </p>
      <div class="thanks"><a href="../index.html">Home</a></div>
    </div>
  </body>
</html>
